.flickerContainer span{
  -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-align:center;
  width:100%;
  display:block;
  font-size:100px;
}

#hablamosDe span{
  text-align:center;
  width:100%;
  display:block;
  font-size:100px;
  width:1000px;
  
  color:white
}




.flickerContainer span #solid{
    color:white
}

.prendeteContainer {
    font-size:100px;
    color:#FFFCFA;
}

.prendeteContainer p {
    text-align:center
}